[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "test-projects/cppcheck"]
	path = test-projects/cppcheck
	url = https://github.com/danmar/cppcheck.git
