name: Update LLVM

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-submodule:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true
          fetch-depth: 0
          persist-credentials: false

      - name: Update LLVM Submodule
        run: |
          git submodule update --remote llvm-project

      - name: Check for changes
        id: diff
        run: |
          if [[ -n $(git status -s) ]]; then
            echo "has_changes=true" >> $GITHUB_OUTPUT
            echo "Changes detected in submodule."
          else
            echo "No changes detected."
          fi

      - name: Commit and Push
        if: steps.diff.outputs.has_changes == 'true'
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git remote set-url origin "https://x-access-token:${GH_TOKEN}@github.com/${{ github.repository }}.git"
          git add llvm-project
          git commit -m "chore: update llvm-project submodule to latest"
          git push

  determine-runner:
    needs: update-submodule
    runs-on: ubuntu-latest
    timeout-minutes: 1
    outputs:
      runner: ${{ steps.set-runner.outputs.use-runner }}
    steps:
      - name: Determine runner
        id: set-runner
        uses: mikehardy/runner-fallback-action@dc7732f9e532c451b2527b288ba8d58fd4b0a4ca # v1.1.0
        with:
          primary-runner: "local-runner"
          fallback-runner: "self-hosted"
          github-token: ${{ secrets.RUNNER_ACCESS_TOKEN }}

  warmup:
    needs: determine-runner
    runs-on: ${{ fromJson(needs.determine-runner.outputs.runner) }}
    container:
      image: ghcr.io/clang-tidy-infra/ctit-runner:latest # zizmor: ignore[unpinned-images]
      options: --user root
    timeout-minutes: 360

    permissions:
      contents: read
      packages: read

    env:
      SCCACHE_GHA_ENABLED: "true"

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true
          fetch-depth: 1
          persist-credentials: false

      - name: Set up Git
        run: |
          git config --global --add safe.directory '*'
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git -C llvm-project checkout .
          git -C llvm-project clean -fdx

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@7d986dd989559c6ecdb630a3fd2557667be217ad # v0.0.9

      - name: Build Clang-tidy
        run: bash build.sh
